@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #afafaf; }

.global-wrapper {
  margin: 10px 0;
  background-color: #ffffff;
  width: 1300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

h2 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 15px;
  background-image: linear-gradient(90deg, #002d5d 50%, #6d8ca8 79%, #d9eaf2 100%);
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "RobotoCondensedLight";
  font-size: 20px;
  width: 100%;
  height: 35px;
  letter-spacing: 0.2rem; }

@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.social {
  display: flex;
  margin: 0;
  padding: 5px;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 1.75rem;
  color: #002d5d; }

.social a svg {
  width: 30px;
  height: 30px;
  fill: #002d5d;
  opacity: 0.5; }

.social a svg:hover {
  opacity: 1; }

.social__item-vk svg:hover {
  fill: #4a76a8; }

.social__item-fb svg:hover {
  fill: #3c5899; }

.social__item-tw svg:hover {
  fill: #1da1f2; }

.social__item-yt svg:hover {
  fill: #ff0000; }

.social__item-ok svg:hover {
  fill: #ee8208; }

.address {
  font-family: "SegoeUILight";
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #002d5d; }

.overhead-banner {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #002d5d;
  font-family: "RobotoCondensedLight";
  font-size: 24px;
  letter-spacing: 0.2rem;
  color: #ffffff; }

.overhead-banner span {
  -ms-grid-row-align: center;
      align-self: center; }

.page-header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 0 60px;
  background-image: url("../imgdecoration/bg-diagonal.png");
  background-size: cover; }

.page-header__logo {
  width: 100%; }

.page-header__logo img {
  margin-top: 40px; }

.page-header__info {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.page-header__info-partners {
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end; }

.start-btn {
  border-radius: 10px;
  background-image: linear-gradient(0deg, #d47f1e 0%, #e39134 36%, #f2a349 100%);
  background-image: -ms-linear-gradient(90deg, #d47f1e 0%, #e39134 36%, #f2a349 100%);
  box-shadow: 0px 2px 3.92px 0.08px rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 48px;
  font-family: "RobotoCondensedRegular";
  border: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  cursor: pointer; }

.start-btn:hover {
  background-image: linear-gradient(0deg, #f2a349 0%, #f2a349 100%); }

.page-main {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  flex-wrap: wrap;
  background-size: cover; }

.special-offer {
  margin-bottom: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 260px;
  width: 100%;
  background-image: url("../imgdecoration/bg-special.png");
  background-size: cover; }

.special-offer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  height: 240px;
  padding: 10px 40px;
  width: 100%;
  opacity: 0.95;
  background-color: #002d5d; }

.special-offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.special-offer__header svg {
  fill: #fff;
  width: 60px;
  height: 60px; }

.special-offer__header p {
  margin: 0;
  width: 980px;
  font-family: "SegoeUIRegular";
  font-size: 18px;
  color: #fff;
  text-align: justify; }

.special-offer__body {
  display: flex;
  align-items: center; }

.special-offer__body form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.special-offer__body input[type="text"] {
  border-radius: 10px;
  padding: 0 5px;
  background-color: #dff1f9;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  font-family: "SegoeUIRegular";
  font-size: 18px;
  color: #002d5d;
  border: none;
  width: 225px;
  height: 34px;
  text-transform: uppercase; }

.special-offer__body input[type="text"]:focus,
.special-offer__body input[type="text"]:hover {
  background-color: #fff; }

.special-offer__body button[type="submit"] {
  font-size: 20px;
  font-family: "RobotoCondensedRegular";
  color: #fff;
  text-transform: uppercase;
  display: flex;
  border: none;
  margin-left: 150px;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #002d5d 0%, #00438b 95%, #0059b8 100%);
  box-shadow: 0px 2px 3.92px 0.08px rgba(0, 0, 0, 0.85);
  width: 200px;
  height: 41px; }

.special-offer__body button[type="submit"]:hover {
  background-image: linear-gradient(0deg, #0059b8 0%, #0059b8 100%); }

.special-offer__body label {
  font-size: 24px;
  margin-right: 15px;
  font-family: "SegoeUIRegular";
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2; }

.special-offer__footer {
  font-family: "SegoeUIRegular";
  font-size: 18px;
  color: #fff;
  text-align: justify; }

.index-central {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.index-central__about {
  display: flex; }

.index-central__about div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.index-central__about svg {
  width: 20px;
  height: 20px; }

.index-central__about span {
  display: flex;
  margin-top: 10px;
  justify-content: space-around; }

.index-central__about p {
  font-size: 16px;
  font-family: "SegoeUIRegular";
  line-height: 1.2;
  text-align: justify;
  margin: 0;
  margin-right: 15px; }

.index-central__news {
  width: 30%; }

.index-central__timeline {
  width: 60%; }

.index-central__partners {
  display: flex;
  justify-content: space-between; }

.index-central__partners img {
  -ms-grid-row-align: center;
      align-self: center; }

.index-central__onair {
  display: flex;
  justify-content: space-between; }

.index-central__onair--item {
  width: 30%; }

.news-list__item {
  margin: 0;
  margin-bottom: 40px; }

.news-list__item h3 {
  font-size: 18px;
  font-family: "RobotoCondensedRegular";
  line-height: 1.2; }

.news-list__item span {
  font-size: 16px;
  font-family: "SegoeUIRegular";
  line-height: 1.2; }

.news-list__item p {
  font-size: 14px;
  font-family: "SegoeUIRegular";
  line-height: 1.2;
  text-align: justify; }

.news-list__item a {
  display: block;
  font-size: 16px;
  font-family: "RobotoCondensedBold";
  line-height: 1.2;
  color: #002d5d;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.8; }

.news-list__item a:hover {
  opacity: 1; }

.square {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 10px; }

.square--red {
  border: 1px solid #b00100;
  border-bottom: 5px solid #b00100; }

.square--red svg {
  fill: #b00100; }

.square--yellow {
  border: 1px solid #d47f1e;
  border-bottom: 5px solid #d47f1e; }

.square--yellow svg {
  fill: #d47f1e; }

.square--blue {
  border: 1px solid #002d5d;
  border-bottom: 5px solid #002d5d; }

.square--blue svg {
  fill: #002d5d; }

.square__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-family: "RobotoCondensedRegular"; }

.square__header h3 {
  width: 80%;
  line-height: 1.2; }

.square__header svg {
  width: 30px;
  height: 30px; }

.square__body {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.square__body img {
  width: 100%; }

.square__body span {
  display: block;
  font-size: 10px;
  font-family: "SegoeUIRegular";
  margin-bottom: 2px; }

.square__footer {
  text-align: right; }

.contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px; }

.contacts-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.contacts-list__item {
  display: flex;
  padding: 5px 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  height: 135px;
  background-color: #c6d8eb;
  text-align: center;
  font-family: "RobotoCondensedRegular";
  font-size: 16px;
  color: #002d5d; }

.contacts-list__item h3 {
  margin: 0;
  margin-bottom: 10px; }

.contacts-list__item div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.contacts-list__item div a {
  opacity: 0.6; }

.contacts-list__item div a:hover {
  opacity: 1; }

.contacts-list__item img {
  width: 100px;
  height: auto; }

.skype-offer {
  background-color: #c6d8eb;
  width: 100%;
  height: 140px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 10px;
  font-family: "RobotoCondensedRegular";
  font-size: 16px;
  color: #002d5d;
  text-align: center; }

.page-footer {
  display: flex;
  width: 100%;
  height: 480px;
  background-color: #002d5d;
  box-sizing: border-box;
  padding: 20px 60px; }

.page-footer__contacts {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center; }

.page-footer__contacts img {
  width: 200px;
  margin-bottom: 20px; }

.page-footer__contacts p {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  width: 200px; }

.page-footer__contacts span {
  text-align: justify;
  letter-spacing: 0.155em;
  font-family: "SegoeUILight";
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px; }

.page-footer__contacts span:last-child {
  font-size: 15px; }

.page-footer__contacts .social a svg {
  width: 20px;
  height: 20px;
  fill: #fff; }

.footer-sitemap {
  display: flex;
  justify-content: space-between; }

.footer-sitemap__item {
  min-width: 25%;
  min-height: 230px; }

.footer-sitemap__item a:link,
.footer-sitemap__item a:visited {
  font-family: "SegoeUILight";
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration: none;
  border-bottom: 1px solid gray; }

.footer-sitemap__item a:hover {
  text-decoration: none;
  border-bottom: 1px solid #E2D9FF;
  color: #E2D9FF;
  font-weight: bold; }

.footer-sitemap__item ul {
  display: block;
  list-style-type: none;
  font-weight: bold; }

.footer-sitemap__item ul > li {
  margin-bottom: 15px; }

.footer-sitemap__item ul ul li {
  margin-bottom: 10px; }

.footer-sitemap__item ul ul {
  font-weight: normal;
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 20px;
  min-height: 150px; }

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: "SegoeUIRegular";
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.signature span {
  display: block;
  text-align: right;
  margin-right: 15px;
  font-size: 16px;
  font-family: "SegoeUIRegular";
  line-height: 1.2;
  font-weight: bold; }

/*MAIN SLIDER |start|*/
.slider {
  position: relative;
  background-color: #ffffff; }

/*MAIN SLIDER -> Механизм переключения*/
.slider-1,
.slider-2,
.slider-3 {
  display: none; }

.slider-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 15px; }

.slider input[type="radio"] {
  display: none; }

.slider-buttons .slider-btn {
  margin-right: 35px;
  width: 8px;
  height: 8px;
  border: 3px solid #b2b2b2;
  border-radius: 50%; }

.slider-buttons .slider-btn:hover {
  border-color: #999999;
  cursor: pointer; }

#slider-btn-1:checked ~ #slider-1,
#slider-btn-2:checked ~ #slider-2,
#slider-btn-3:checked ~ #slider-3 {
  display: block; }

#slider-btn-1:checked ~ .slider-buttons .btn-1,
#slider-btn-2:checked ~ .slider-buttons .btn-2,
#slider-btn-3:checked ~ .slider-buttons .btn-3 {
  border-color: #002d5d; }

/*MAIN SLIDER |end|*/
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.fade-in {
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
.fade-out {
  animation: fade-out 0.5s ease-out both; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: 0; } }

.text-flicker-in-glow {
  animation: text-flicker-in-glow 6s linear both; }

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    text-shadow: none; }
  10.1% {
    opacity: 1;
    text-shadow: none; }
  10.2% {
    opacity: 0;
    text-shadow: none; }
  20% {
    opacity: 0;
    text-shadow: none; }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  20.6% {
    opacity: 0;
    text-shadow: none; }
  30% {
    opacity: 0;
    text-shadow: none; }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.6% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 0;
    text-shadow: none; }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55.1% {
    opacity: 0;
    text-shadow: none; }
  57% {
    opacity: 0;
    text-shadow: none; }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60.1% {
    opacity: 0;
    text-shadow: none; }
  65% {
    opacity: 0;
    text-shadow: none; }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75.1% {
    opacity: 0;
    text-shadow: none; }
  77% {
    opacity: 0;
    text-shadow: none; }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85.1% {
    opacity: 0;
    text-shadow: none; }
  86% {
    opacity: 0;
    text-shadow: none; }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); } }

.tracking-in-expand {
  animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

nav {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 0 60px;
  background-color: #002d5d;
  margin-bottom: 45px; }

nav a {
  -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: "RobotoCondensedLight";
  font-size: 16px;
  letter-spacing: 0.2rem; }

nav a:hover {
  color: #E2D9FF; }

nav a:active {
  color: #CAB9FF; }

.feedback-modal {
  justify-content: center;
  margin: 20px;
  background-color: #fff; }

.feedback-modal form {
  width: 280px; }

.feedback-modal fieldset {
  display: flex; }

.start-work-modal {
  display: none;
  box-sizing: border-box;
  padding: 20px;
  height: 520px;
  width: 720px;
  position: absolute;
  top: 200px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px; }

.start-work-modal h3 {
  font-size: 30px;
  font-family: "RobotoCondensedRegular";
  color: #002d5d;
  line-height: 1.2;
  margin: 5px 0; }

.start-work-modal p {
  font-size: 14px;
  font-family: "SegoeUIRegular";
  line-height: 1.2; }

.start-work-modal-body {
  height: 400px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff; }

.start-work__solid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #007bff;
  width: 320px;
  height: 100px; }

.start-work__solid p {
  margin: 0;
  width: 80%;
  font-family: "SegoeUIRegular";
  color: #fff;
  line-height: 1.2; }

.start-work__solid div {
  display: flex;
  font-size: 14px;
  font-family: "SegoeUIRegular";
  text-transform: uppercase;
  line-height: 1.2;
  height: 34px;
  width: 100%;
  color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold; }

.start-work__solid div span {
  margin-right: 5px; }

.start-work__solid div a {
  color: #fff; }

.start-work__solid svg {
  fill: #fff;
  height: 22px;
  width: 22px;
  margin-right: 15px; }

.start-work__dotted {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  border-width: 1px;
  border-color: #002d5d;
  border-style: dashed;
  border-radius: 5px;
  height: 130px;
  width: 320px;
  padding: 10px 15px; }

.start-work__dotted div {
  display: flex;
  font-size: 14px;
  font-family: "SegoeUIRegular";
  text-transform: uppercase;
  line-height: 1.2;
  height: 34px;
  align-items: flex-end;
  justify-content: space-around;
  font-weight: bold; }

.start-work__dotted div span {
  margin-right: 5px; }

.start-work__dotted button {
  display: flex;
  border-radius: 5px;
  background-color: #002d5d;
  width: 160px;
  height: 34px;
  font-size: 16px;
  font-family: "SegoeUIRegular";
  line-height: 1.2;
  color: #fff;
  border: none;
  margin-bottom: 5px; }

.dotted--orange {
  border-color: #ff9a27; }

.dotted--orange button {
  background-color: #ff9a27; }

.start-work__dotted button svg {
  fill: #fff;
  height: 22px;
  width: 22px;
  margin-right: 15px; }

.solid-green {
  background-color: #214c3c;
  margin-top: 25px; }

/*
.solid-green div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.solid-green__item {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  width: 40%;

}

.solid-green__item svg {
  height: 35px;
  width: 35px;
  margin: 0;
}
*/
.start-work__offer {
  border-radius: 10px;
  background-color: #d47f1e;
  height: 60px;
  width: 250px;
  border: none;
  font-size: 16px;
  font-family: "SegoeUIRegular";
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff; }

.start-work__close {
  border-radius: 10px;
  background-color: #002d5d;
  width: 100px;
  height: 60px;
  border: none;
  font-size: 16px;
  font-family: "SegoeUIRegular";
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  margin-left: 325px; }
