body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  background-color: #f2f2f2;
  width: 320px; }

.global-wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 -5px 9px 2px #dbdbdb; }

.visually-hidden {
  display: none; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  cursor: pointer; }

.btn:hover {
  background-color: #669ec0; }

.btn:active {
  background-color: #5496bd;
  color: #88b6d1; }

.btn--send-feedback {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  width: 280px;
  min-height: 60px; }

.btn--find-hotel {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  width: 280px;
  min-height: 60px; }

.btn--popup-failure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 55px; }

.btn--popup-success {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  width: 280px;
  height: 55px;
  margin-left: auto;
  margin-right: auto; }

@keyframes shining {
  from {
    background-color: #5496bd; }
  to {
    background-color: #3e84ae; } }

.btn--shining {
  animation-name: shining;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.page-footer {
  display: flex;
  width: 320px;
  justify-content: space-between;
  flex-direction: column; }

.header-menu {
  position: relative;
  background: 60% 55px url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-color: #81b3d2;
  background-size: cover;
  min-height: 445px; }

.header-menu--content {
  min-height: 215px;
  background: 50% 100% url("../../img/bg-back-mobile@1x.jpg") no-repeat;
  background-color: #81b3d2; }

.header-menu::before {
  position: absolute;
  content: '';
  top: 145px;
  height: 280px;
  width: 100%;
  background: 45% 0 url("../img/text-sedona-index.svg") no-repeat;
  background-size: 90%; }

.header-menu::after {
  display: block;
  position: absolute;
  bottom: -1px;
  content: '';
  width: 320px;
  height: 27px;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
  z-index: 10; }

.header-menu__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px; }

.header-menu--content::before {
  display: none; }

.header-menu__logo--content::after {
  display: none; }

.header-menu__logo--content::before {
  content: '';
  position: absolute;
  top: 110px;
  left: -65px;
  height: 40px;
  width: 230px;
  background: 25% url("../img/text-sedona.svg") no-repeat;
  background-size: cover; }

.header-menu__toggle-wrap {
  background-color: #ffffff;
  text-align: right;
  min-height: 55px; }

.header-menu__toggle {
  right: 0;
  min-height: 55px;
  width: 60px;
  border: none;
  background: 50% 50% url("../img/icon-menu.svg") no-repeat;
  cursor: pointer; }

.main-navigation__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.main-navigation__item {
  text-align: center;
  min-height: 55px;
  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8; }

.main-navigation__item:not(:first-child) {
  border-top: 1px solid #9ac2db; }

.main-navigation__item:last-child {
  box-shadow: inset 0 -5px 9px -8px #000000; }

.main-navigation__item:hover {
  background-color: #669ec0; }

.main-navigation__item:active {
  background-color: #5496bd; }

.main-navigation__item:active a {
  color: #84b4d0; }

.main-navigation__item a {
  display: block;
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding: 7px 75px;
  color: #ffffff;
  text-decoration: none; }

.main-navigation__item button {
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  top: 0;
  right: 0; }

.main-content__header {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0 30px; }

.main-content__slogan {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 25px; }

.main-content__header--form {
  margin-bottom: 22px; }

.main-content__header--photo {
  margin-bottom: 20px; }

.main-content__slogan--photo {
  margin-bottom: 30px; }

.main-content__slogan--form {
  padding: 0 20px;
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 40px; }

.features__wrap::after {
  content: '';
  display: table;
  clear: both; }

.features__item {
  padding: 0 25px;
  color: #ffffff;
  background-color: #81b3d2;
  min-height: 185px;
  text-align: center; }

.features__item--triangle-top {
  position: relative;
  padding-top: 25px; }

.features__item--triangle-top::before {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  content: '';
  width: 320px;
  height: 37px;
  background: url("../img/bg-triangle.svg") no-repeat;
  z-index: 10; }

.features__item--gray-block {
  padding: 0 35px;
  min-height: 168px;
  color: #000000;
  background-color: #eeeeee; }

.features__name {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 30px; }

.features__name br {
  display: none; }

.features__number {
  position: relative;
  display: inline-block;
  width: 22px;
  vertical-align: top;
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  margin-bottom: 15px;
  z-index: 2; }

.features__number::before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  left: -20px;
  top: 10px;
  height: 1px;
  background-color: currentColor; }

.features__number::after {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  left: 30px;
  top: 10px;
  height: 1px;
  background-color: currentColor; }

.features__description {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  margin: 0; }

.features__description span {
  display: none; }

.features__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 260px;
  overflow: hidden; }

.features__item--right-feature {
  margin-top: 40px;
  padding-top: 1px; }

.feature-hint {
  position: relative;
  padding: 0;
  padding-top: 29px;
  padding-left: 70px;
  padding-right: 52px;
  float: left; }

.feature-hint__img {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5px;
  right: 247px;
  transform: scale(0.5); }

.feature-hint__name {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  margin-bottom: 15px; }

.feature-hint__description {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300; }

.feedback-form {
  width: 280px;
  padding: 0 20px;
  margin-bottom: 70px; }

.feedback-form input {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: none;
  outline: none; }

.feedback-form input::-webkit-input-placeholder {
  color: #000000; }

.feedback-form input:-moz-placeholder {
  color: #000000; }

.feedback-form textarea::-webkit-input-placeholder {
  color: #000000; }

.feedback-form textarea:-moz-placeholder {
  color: #000000; }

.feedback-form textarea {
  background-color: #f2f2f2;
  border: none;
  outline: none; }

.feedback-form fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none; }

.feedback-form fieldset::before {
  display: block;
  position: absolute;
  content: '';
  width: 320px;
  height: 1px;
  top: -20px;
  left: -20px;
  background-color: #e5e5e5; }

.feedback-form fieldset:last-child::before {
  display: none; }

.feedback-form form {
  display: flex;
  flex-wrap: wrap; }

.feedback-form legend {
  margin: 0;
  padding: 0; }

.feedback-form__name {
  box-sizing: border-box;
  width: 320px;
  min-height: 305px; }

.feedback-form__name legend {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px; }

.feedback-form__name label {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  vertical-align: baseline;
  min-height: 50px; }

.feedback-form__name input:first-of-type {
  width: 228px;
  margin-bottom: 20px; }

.feedback-form__name input {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 15px;
  min-height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 193px;
  text-transform: none;
  display: inline-block;
  vertical-align: baseline; }

.feedback-form__contacts {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  min-height: 315px; }

.feedback-form__contacts legend {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px; }

.feedback-form__contacts label {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin-bottom: 5px; }

.feedback-form__contacts input {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  min-height: 60px;
  padding-left: 20px;
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 45px; }

.feedback-form__contacts input[type="tel"] {
  background: right 20px top 20px url("../img/icon-phone.svg") no-repeat, linear-gradient(270deg, #e6e6e6 0%, #e6e6e6 60px, #f2f2f2 60px, #f2f2f2 100%); }

.feedback-form__contacts input[type="email"] {
  background: right 20px top 20px url("../img/icon-mail.svg") no-repeat, linear-gradient(270deg, #e6e6e6 0%, #e6e6e6 60px, #f2f2f2 60px, #f2f2f2 100%); }

.feedback-form__error-phone {
  position: absolute;
  top: 140px;
  left: 20px;
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  color: red;
  text-transform: none; }

.feedback-form__error-email {
  position: absolute;
  top: 275px;
  left: 15px;
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  color: red;
  text-transform: none; }

.feedback-form__impression {
  min-height: 290px; }

.feedback-form__impression legend {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px; }

.feedback-form__impression label {
  position: relative;
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  display: block;
  margin-bottom: 42px;
  margin-left: 80px;
  cursor: pointer; }

.feedback-form__impression input {
  display: none; }

.feedback-form__impression label::before {
  display: block;
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  left: -80px;
  top: -15px;
  border-radius: 50%;
  background-color: #f2f2f2; }

input[name="impression"]:checked + label::after {
  display: block;
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  left: -63px;
  top: 2px;
  border-radius: 50%;
  background-color: #000000; }

.feedback-form__impression label:hover::before {
  background-color: #e5e5e5; }

.feedback-form__impression label:active::before {
  background-color: #d5d5d5; }

input[name="impression"]:checked + label:active::after {
  background-color: #a4a4a4; }

.feedback-form__sights {
  min-height: 405px; }

.feedback-form__sights legend {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px; }

.feedback-form__sights input {
  display: none; }

.feedback-form__sights label {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  display: block;
  text-transform: none;
  margin-left: 80px;
  margin-bottom: 53px; }

.feedback-form__sights label::before {
  display: block;
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  left: -80px;
  top: -15px;
  border-radius: 15%;
  background-color: #f2f2f2; }

input[name="sights-toggle"]:checked + label::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 10px;
  left: -62px;
  top: 4px;
  background-color: #f2f2f2;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transform: rotate(-45deg); }

.feedback-form__sights label:hover::before {
  background-color: #e5e5e5; }

.feedback-form__sights label:active::before {
  background-color: #d5d5d5; }

input[name="sights-toggle"]:checked + label:hover::after {
  background-color: #e5e5e5; }

input[name="sights-toggle"]:checked + label:active::after {
  border-left: 4px solid #a4a4a4;
  border-bottom: 4px solid #a4a4a4;
  background-color: #d5d5d5; }

.feedback-form__message legend {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px; }

.feedback-form__message textarea {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 45px;
  padding: 15px;
  min-height: 160px;
  color: #000000;
  text-transform: none; }

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #e5e5e5; }

.feedback-form input:active,
.feedback-form textarea:active {
  background-color: #ffffff;
  outline: 3px solid #e5e5e5; }

.feedback-form__notice {
  display: none; }

.hotel-request {
  padding: 0;
  padding-top: 30px;
  min-height: 615px;
  margin-bottom: 30px; }

.hotel-request span {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: inline-block;
  width: 320px;
  vertical-align: top;
  text-align: center; }

.hotel-request p {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 20px 30px;
  text-align: center; }

.hotel-request button {
  margin: 0 20px;
  margin-top: 10px;
  margin-bottom: 45px; }

.hashtag {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center; }

.web-developer {
  text-align: center;
  padding-top: 00px;
  margin-bottom: 30px; }

.web-developer:hover path {
  fill: #669ec0; }

.web-developer:active path {
  fill: #b2b2b2; }

.web-developer a {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #000000; }

.web-developer svg {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px; }

.popup-success {
  position: fixed;
  box-sizing: border-box;
  padding-top: 40px;
  width: 320px;
  min-height: 320px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 70%, #f2f2f2 70%, #f2f2f2 100%);
  box-shadow: 0 15px 30px -1px #dbdbdb; }

.popup-success b {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 25px; }

.popup-success p {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  display: block;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 60px; }

.popup-failure {
  position: fixed;
  box-sizing: border-box;
  padding-top: 70px;
  width: 320px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -140px;
  background-color: #ffffff;
  box-shadow: 0 15px 30px -1px #dbdbdb; }

.popup-failure b {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 60px; }

.popup-failure p {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  display: block;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 0; }

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px; }

.photo {
  height: 280px; }

.photo-item {
  position: relative;
  padding-top: 15px;
  margin-bottom: 20px; }

.photo-item::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -20px;
  width: 320px;
  height: 2px;
  background-color: #e5e5e5; }

.photo-item:last-child::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: -20px;
  width: 320px;
  height: 2px;
  background-color: #e5e5e5; }

.photo-item__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.photo-item__header {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding-top: 15px;
  width: 280px; }

.photo-item__author {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 280px;
  text-transform: none; }

.photo-item__like {
  margin: 0;
  width: 280px;
  padding-top: 10px; }

.photo-item__like svg {
  fill: #b2b2b2; }

.photo-item__counter {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 10px; }

.photo {
  padding: 0;
  margin: 0; }

.video {
  margin-bottom: 80px; }

.video__header {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 25px;
  display: block;
  text-align: center; }

.video__slogan {
  font-family: "PT Sans", Arrow, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px; }

.video__src {
  width: 320px;
  height: 201px; }

.video__control {
  padding: 0 20px;
  position: relative; }

.video__scale {
  position: absolute;
  top: -45px;
  left: 20px;
  right: 20px;
  padding: 0 20px;
  min-height: 45px;
  background-color: #000000;
  opacity: 0.6; }

.video__scale::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 3px;
  border: none;
  background-color: #ffffff;
  opacity: 0.7; }

.video__scale::after {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  left: 20%;
  right: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff; }

.video__buttons {
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: #e6e6e6; }

.video__btn {
  width: 32px;
  height: 40px;
  display: flex;
  cursor: pointer; }
  .video__btn--replay {
    margin-left: 20px; }
  .video__btn--subtitle {
    margin-left: auto; }
  .video__btn--fullscreen {
    margin-left: 25px;
    margin-right: 15px; }

.video__btn svg {
  margin: auto; }

.video__btn path,
.video__btn polygon {
  fill: #5c6870; }

.map {
  min-height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg"); }

.social-footer {
  display: flex;
  justify-content: center;
  padding: 35px 0; }

.social-icon {
  height: 46px;
  width: 46px;
  margin: 0 2px;
  display: flex;
  background-color: #81b3d2; }

.social-icon svg {
  margin: auto; }

.social-icon:hover {
  background-color: #669ec0; }

.social-icon:active {
  background-color: #5496bd; }

.social-icon:active path {
  fill: #88b6d1; }

.close-btn {
  background: 50% 50% url("../img/icon-cross.svg") no-repeat;
  border: none;
  cursor: pointer; }

@media (min-width: 768px) {

  body {
    width: 768px; }

  .global-wrapper {
    width: 100%;
    margin: 0 auto; }

  .btn--send-feedback {
    width: 325px; }

  .btn--find-hotel {
    width: 460px; }

  .btn--popup-success {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    width: 460px; }

  .btn--popup-failure {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    width: 265px; }

  .page-footer {
    flex-direction: row;
    width: auto;
    justify-content: space-around; }

  .header-menu {
    min-height: 510px;
    background: 50% 0 url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; }

  .header-menu--content {
    min-height: 480px;
    background: 50% 100% url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; }

  .header-menu::before {
    height: 100%;
    background-size: 60%;
    top: 15%;
    left: 2%; }

  .header-menu__logo {
    position: absolute;
    top: -60px; }

  .header-menu__logo::before {
    top: 270px;
    left: -170px;
    height: 80px;
    width: 460px;
    background: url("../img/text-sedona.svg") no-repeat; }

  .header-menu__toggle {
    display: none; }

  .header-menu__toggle-wrap {
    display: none; }

  .header-menu::after {
    width: 768px;
    height: 57px;
    bottom: 0px;
    background-size: cover;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat; }

  .header-menu--content {
    min-height: 290px; }

  .header-menu__logo--content::after {
    display: none; }

  .header-menu__logo--content::before {
    top: 150px;
    left: -175px; }

  .main-navigation {
    padding: 0; }

  .main-navigation__list {
    display: flex;
    text-align: center;
    justify-content: space-between; }

  .main-navigation__item {
    background-color: #ffffff;
    flex-basis: 20%;
    border-bottom: none; }

  .main-navigation__item:not(:first-child) {
    border: none; }

  .main-navigation__item:nth-child(2) {
    margin-right: auto; }

  .main-navigation__item a,
  .main-navigation__item a[href] {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    padding: 0; }

  .main-navigation__item:hover a[href] {
    color: #9ac2db; }

  .main-navigation__item:active a[href] {
    color: #eaeaea; }

  .main-navigation__item a {
    color: #9b8d84; }

  .main-navigation__item:hover a {
    color: #604e43; }

  .main-navigation__item:active a {
    color: #d6d0cc; }

  .main-navigation__item button {
    display: none; }

  .main-navigation__item a,
  .main-navigation__item a[href] {
    min-height: 50px;
    padding-top: 9px; }

  .main-content__header {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 30px; }

  .main-content__header--photo {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 15px; }

  .main-content__slogan--photo {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    padding: 0 170px; }

  .main-content__header--form {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 15px; }

  .main-content__slogan {
    margin-bottom: 50px; }

  .main-content__slogan--form {
    padding: 0 165px;
    margin-bottom: 75px; }

  .features__item {
    width: 256px;
    min-height: 256px;
    float: left;
    padding: 0; }

  .features__name {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 0 55px;
    padding-top: 45px; }

  .features__name br {
    display: inline; }

  .features__description {
    padding: 5px 45px;
    margin: 0; }

  .features__description span {
    display: inline; }

  .features__image {
    width: 512px;
    height: 256px; }

  .features__item--triangle-top::before {
    display: none; }

  .features__item--right-feature {
    order: 2;
    margin: 0;
    width: 256px; }

  .features__wrap {
    display: flex; }

  .feature-hint {
    padding: 0;
    padding-top: 160px;
    min-height: 170px;
    width: 256px;
    text-align: center; }

  .feature-hint--burger {
    order: 2; }

  .feature-hint--house {
    order: 1; }

  .feature-hint--gifts {
    order: 3; }

  .feature-hint__img {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 60px;
    right: 90px;
    transform: scale(1); }

  .feature-hint__name {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px; }

  .feature-hint__description {
    display: block;
    padding: 0 45px; }

  .feedback-form {
    width: 648px;
    padding: 0 60px;
    margin-bottom: 65px; }

  .feedback-form fieldset::before {
    display: none; }

  .feedback-form__impression {
    position: relative;
    width: 324px;
    order: 0; }

  .feedback-form__impression legend::before {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 300px;
    top: 0px;
    right: 0px;
    background-color: #e5e5e5; }

  .feedback-form__impression legend {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 70px; }

  .feedback-form__impression label {
    margin-bottom: 53px; }

  .feedback-form__name {
    width: 324px;
    order: 1; }

  .feedback-form__name span {
    display: none; }

  .feedback-form__name legend {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 55px; }

  .feedback-form__name label {
    margin-left: 60px; }

  .feedback-form__name input:first-of-type {
    width: 215px;
    margin-bottom: 15px; }

  .feedback-form__name input {
    width: 177px;
    margin-bottom: 20px; }

  .feedback-form__contacts {
    width: 648px;
    order: 2; }

  .feedback-form__contacts legend {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    position: relative;
    padding-top: 30px;
    margin-bottom: 25px;
    margin-left: 28%; }

  .feedback-form__contacts legend::before,
  .feedback-form__contacts legend::after {
    display: block;
    position: absolute;
    content: '';
    width: 120px;
    height: 1px;
    top: 40px;
    right: 340px;
    background-color: #e5e5e5; }

  .feedback-form__contacts legend::after {
    right: -180px; }

  .feedback-form__contacts input {
    display: block;
    margin-bottom: 25px;
    width: 648px; }

  .feedback-form__sights {
    width: 648px;
    order: 3;
    min-height: 330px; }

  .feedback-form__sights-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 175px; }

  .feedback-form__sights legend {
    position: relative;
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding: 25px 190px;
    width: 275px; }

  .feedback-form__sights legend::before,
  .feedback-form__sights legend::after {
    display: block;
    position: absolute;
    content: '';
    width: 120px;
    height: 1px;
    top: 50px;
    right: 535px;
    background-color: #e5e5e5; }

  .feedback-form__sights legend::after {
    right: 10px; }

  .feedback-form__sights label {
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
    width: 130px; }

  .feedback-form__sights label[for="devil-bridge"] {
    order: 1; }

  .feedback-form__sights label[for="bell-mountain"] {
    order: 2;
    margin-left: 130px; }

  .feedback-form__sights label[for="slide-park"] {
    order: 3; }

  .feedback-form__sights label[for="red-rock"] {
    order: 4;
    margin-left: 130px; }

  .feedback-form__message {
    width: 648px;
    order: 4; }

  .feedback-form__message legend {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    position: relative;
    margin-bottom: 55px;
    width: 265px;
    margin-left: 29%; }

  .feedback-form__message legend::before,
  .feedback-form__message legend::after {
    display: block;
    position: absolute;
    content: '';
    width: 120px;
    height: 1px;
    top: 12px;
    right: 335px;
    background-color: #e5e5e5; }

  .feedback-form__message legend::after {
    right: -190px; }

  .feedback-form__message textarea {
    width: 648px;
    padding: 20px;
    margin-bottom: 55px; }

  .feedback-form__btn {
    order: 5;
    width: 100%; }

  .feedback-form__error-phone {
    top: 80px;
    left: 455px; }

  .feedback-form__error-email {
    top: 200px;
    left: 455px; }

  .feedback-form__notice {
    display: block;
    float: right;
    padding-top: 20px;
    vertical-align: baseline;
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    text-transform: uppercase; }

  .hotel-request {
    margin-bottom: 2px; }

  .hotel-request span {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 25px;
    margin-bottom: 10px;
    width: 768px; }

  .hotel-request p {
    padding: 0 150px; }

  .hotel-request button {
    margin: 20px 154px;
    margin-bottom: 60px; }

  .hashtag {
    padding-top: 45px; }

  .web-developer {
    padding-top: 40px; }

  .popup-success {
    width: 645px;
    min-height: 350px;
    padding-top: 60px;
    margin-left: -322px;
    margin-top: -175px;
    background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 55%, #f2f2f2 55%, #f2f2f2 100%); }

  .popup-success b {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 30px; }

  .popup-success p {
    margin-bottom: 80px; }

  .popup-failure {
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -175px;
    min-height: 350px;
    padding-top: 60px; }

  .popup-failure b {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    padding: 0 80px;
    margin-bottom: 25px; }

  .popup-failure p {
    margin-bottom: 30px; }

  .photo-gallery {
    padding: 0 60px;
    margin-top: 70px; }

  .photo-item {
    margin: 0;
    padding: 0; }

  .photo-item::before,
  .photo-item:last-child::after {
    display: none; }

  .photo-item__description {
    flex-direction: column;
    justify-content: center;
    height: 80px;
    background-color: #f2f2f2; }

  .photo-item__header {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 25px;
    width: 65%;
    height: 40px; }

  .photo-item__author {
    box-sizing: border-box;
    width: 65%;
    height: 40px;
    padding-top: 0;
    padding-left: 25px; }

  .photo-item__like {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    box-sizing: border-box;
    text-align: right;
    padding: 30px 0;
    padding-right: 0px;
    width: 35%;
    height: 80px; }

  .photo-item__counter {
    padding: 0;
    margin-left: 5px;
    width: 55px;
    text-align: left; }

  .photo-item__like svg {
    margin-left: 30px;
    fill: #a9a9a9; }

  .photo {
    height: 265px; }

  .photo img {
    width: 324px;
    height: 265px; }

  .photo--fullscreen {
    height: 400px; }

  .photo--fullscreen img {
    width: 648px;
    height: 400px; }

  .video {
    padding: 0 60px;
    margin-bottom: 40px; }

  .video__header {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 70px; }

  .video__slogan {
    padding: 15px 110px;
    margin-bottom: 60px; }

  .video__src {
    width: 648px;
    min-height: 500px;
    background-size: cover; }

  .video__scale {
    min-height: 95px;
    top: -95px;
    left: 0;
    right: 0; }

  .video__scale::before {
    left: 90px;
    right: 170px; }

  .video__scale::after {
    left: 205px;
    top: 45px; }

  .video__buttons {
    position: absolute;
    left: 20px;
    right: 20px;
    top: -90px;
    min-height: 90px;
    background-color: transparent; }

  .video__btn {
    width: 32px;
    height: 40px;
    display: flex; }

  .video__btn--replay {
    margin-left: 10px; }

  .video__btn path,
  .video__btn polygon {
    fill: #ffffff; }

  .map {
    background: url("../img/bg-map-tablet@1x.jpg"); } }

@media (min-width: 1200px) {

  body {
    width: 1200px; }

  .global-wrapper {
    width: 1200px; }

  .btn--send-feedback {
    width: 480px; }

  .btn--popup-success {
    width: 455px; }

  .page-footer {
    margin-left: 130px;
    margin-right: 40px;
    justify-content: space-between; }

  .header-menu {
    min-height: 520px;
    background: 50% 0 url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; }

  .header-menu--content {
    min-height: 300px;
    background: 50% 100% url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; }

  .header-menu::after {
    bottom: 0;
    height: 57px;
    width: 1200px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat; }

  .header-menu::before {
    background-size: 38%;
    left: 3%; }

  .header-menu__logo {
    margin-left: -93px; }

  .header-menu__logo--content::before {
    top: 160px;
    left: -135px; }

  .main-content__header {
    margin-top: 45px; }

  .main-content__header--photo {
    padding-top: 65px; }

  .main-content__slogan--photo {
    padding: 0 380px; }

  .main-content__header--form {
    padding-top: 60px; }

  .main-content__slogan--form {
    padding: 0 380px;
    margin-bottom: 60px; }

  .features__item {
    width: 400px;
    float: left; }

  .features__name {
    padding: 0 125px;
    padding-top: 45px; }

  .features__description {
    padding: 5px 55px; }

  .features__image {
    width: 800px; }

  .features__item--right-feature {
    float: right; }

  .feature-hint {
    width: 400px; }

  .feature-hint__img {
    top: 60px;
    right: 165px; }

  .feedback-form {
    width: 960px;
    padding: 0 120px; }

  .feedback-form__impression {
    width: 480px;
    min-height: 325px; }

  .feedback-form__impression legend {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    padding-left: 80px;
    margin-bottom: 75px; }

  .feedback-form__impression label {
    margin-bottom: 53px; }

  .feedback-form__name {
    width: 480px; }

  .feedback-form__name legend {
    width: 480px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 60px; }

  .feedback-form__name span {
    display: inline; }

  .feedback-form__name label {
    margin-left: 80px; }

  .feedback-form__name input:first-of-type {
    width: 350px;
    margin-bottom: 15px; }

  .feedback-form__name input {
    margin-bottom: 20px;
    margin-left: 15px;
    width: 312px; }

  .feedback-form__contacts {
    width: 960px;
    min-height: 240px; }

  .feedback-form__contacts span {
    display: none; }

  .feedback-form__contacts legend {
    padding-bottom: 50px;
    margin-bottom: 15px;
    margin-left: 35%; }

  .feedback-form__contacts legend::before,
  .feedback-form__contacts legend::after {
    width: 280px; }

  .feedback-form__contacts legend::after {
    right: -340px; }

  .feedback-form__contacts label {
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
    width: 80px; }

  .feedback-form__contacts label:last-of-type {
    width: auto;
    margin-left: 7px;
    margin-right: 20px; }

  .feedback-form__contacts input {
    display: inline-block;
    vertical-align: baseline;
    width: 320px; }

  .feedback-form__contacts input:first-of-type {
    margin-right: 57px; }

  .feedback-form__sights {
    width: 960px;
    min-height: 215px; }

  .feedback-form__sights-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 80px; }

  .feedback-form__sights label[for="bell-mountain"] {
    margin-left: 15px;
    margin-right: 15px; }

  .feedback-form__sights label[for="red-rock"] {
    margin-left: -10px;
    margin-right: -5px; }

  .feedback-form__sights legend {
    padding: 0 340px;
    text-align: center;
    margin-bottom: 60px;
    width: 280px; }

  .feedback-form__sights legend::before,
  .feedback-form__sights legend::after {
    width: 280px;
    top: 25px;
    right: 680px; }

  .feedback-form__sights legend::after {
    right: 1px; }

  .feedback-form__message {
    width: 960px; }

  .feedback-form__message legend {
    margin-left: 40%; }

  .feedback-form__message textarea {
    width: 960px;
    margin-bottom: 55px; }

  .feedback-form__message legend::before,
  .feedback-form__message legend::after {
    width: 280px;
    top: 12px;
    right: 330px; }

  .feedback-form__message legend::after {
    right: -345px; }

  .feedback-form__error-phone {
    top: 95px;
    left: 105px; }

  .feedback-form__error-email {
    top: 95px;
    left: 665px; }

  .feedback-form--btn {
    width: 400px; }

  .hotel-request span {
    width: 1200px; }

  .hotel-request p {
    padding: 0 370px; }

  .hotel-request button {
    margin: 30px 370px;
    margin-bottom: 60px; }

  .photo-gallery {
    padding: 0; }

  .photo-item__description {
    color: #ffffff; }

  .photo-item__header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); }

  .photo-item__author {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); }

  .photo-item__like {
    background-color: rgba(0, 0, 0, 0.5); }

  .photo-item__like svg {
    fill: #ffffff; }

  .photo {
    height: 186px; }

  .photo img {
    width: 400px; }

  .photo--fullscreen {
    height: 320px; }

  .photo--fullscreen img {
    width: 1200px; }

  .video {
    padding: 0 200px;
    margin-bottom: 85px; }

  .video__header {
    font-family: "PT Sans", Arrow, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 70px; }

  .video__slogan {
    padding: 15px 180px;
    margin-bottom: 60px; }

  .video__src {
    width: 800px;
    min-height: 500px;
    background-size: cover; }

  .map {
    background: url("../img/bg-map-desktop@1x.jpg"); }

  .social-footer {
    margin-right: 100px; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

  .header-menu {
    background: 60% 55px url("../img/bg-back-mobile@2x.jpg") no-repeat;
    background-color: #81b3d2; }

  .header-menu--content {
    background: 55% 50% url("../img/bg-back-mobile@2x.jpg") no-repeat;
    background-color: #81b3d2;
    min-height: 215px; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {

  .header-menu {
    background: 50% 0 url("../img/bg-back-tablet@2x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; }

  .header-menu--content {
    background: 50% 100% url("../img/bg-back-tablet@2x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; } }

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {

  .header-menu {
    background: 75% 0 url("../img/bg-back-desktop@2x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; }

  .header-menu--content {
    min-height: 300px;
    background: 50% 100% url("../img/bg-back-desktop@2x.jpg") no-repeat;
    background-color: #81b3d2;
    background-size: cover; } }
